<div class="container">
  <h1>
    Add a tag for this plant <%= @plant.name %>
  </h1>
  <%= simple_form_for [@plant, @plant_tag] do |f| %>
    <%= f.association :tag %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
